# ======== directories ========
CONFIG_DIR=~/projects/config
DOWNLOAD_DIR=/mnt/e/data/downloads
MEDIA_DIR=/mnt/e/data/media
TV_DIR=/mnt/e/data/media/TV Shows
MOVIES_DIR=/mnt/e/data/media/Movies
### base dir should be a directory that contains both downloads and media to take advantage of hardlinks
BASE_DIR=/mnt/e/data

# ======== user ========
PUID=1000
PGID=1000
TIMEZONE=America/New_York

# ======== filebot ========
FILEBOT_PORT=7676
### results in file names like "The Expanse - S02E07 - The Seventh Man - HD.mkv"
FILEBOT_FORMAT={plex} - {hd}
### prefer titles from the last 30 days but fall back to any title if there are none recent enough
FILEBOT_FILTER=any{ age < 30 }{ true } || !model.any{ it.age < 30 && it.age != null }
### duplicate will fall back to copy if hardlink fails. set to "hardlink" to confirm if hardlinks are working
FILEBOT_ACTION=hardlink
### filebot will intelligently decide whether or not to replace an existing copy
FILEBOT_CONFLICT=auto
### defaults to TheTVDB but TheTVDB has been having issues for most of 2020
FILEBOT_SERIES_DB=TheMovieDB::TV
FILEBOT_ANIME_DB=AniDB
FILEBOT_MOVIE_DB=TheMovieDB
FILEBOT_MUSIC_DB=ID3

# ======== nzbget ========
NZBGET_PORT=7890
NZBGET_WEB_USER={replace}
NZBGET_WEB_PASS={replace}
### don't change these unless you really know what you're doing
NZBGET_MAIN_DIR=/downloads/nzb
NZBGET_SCRIPT_DIR=/usr/local/bin

# ======== sonarr ========
SONARR_PORT=8989
SONARR_API_KEY={replace}

# ======== radarr ========
RADARR_PORT=7878
RADARR_API_KEY={replace}

# ======== bazaar ========
BAZARR_PORT=6767

# ======== plex ========
### install trakt and subzero but you might need Kitana to see the UI
PLUGIN_LIST=trakt subzero
PLEX_WEB_PORT=32400

# ======== tautulli ========
TAUTULLI_PORT=8181

# ======== heimdall ========
HEIMDALL_PORT=8888
HEIMDALL_SSL_PORT=4444

# ======== portainer ========
PORTAINER_PORT=9000

# ======== netdata ========
NETDATA_PORT=19999